<a href="https://colab.research.google.com/github/VTNay/MEC557-Project/blob/Zhichuan-MA/MEC557_Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projects

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/git/https%3A%2F%2Fgitlab.in2p3.fr%2Fenergy4climate%2Fpublic%2Feducation%2Fmachine_learning_for_climate_and_energy/master?filepath=book%2Fnotebooks%2Fprojects.ipynb)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

<div class="alert alert-block alert-warning">
    <b>Schedule</b>
    
- Ask your supervisors for the data if not already provided (it is not included in this repository).
- Quick presentation.
- Final project presentation.
    
</div>

<div class="alert alert-block alert-info">
    <b>One problematic, One dataset, One (or more) method(s)</b>
    
- Quality of the dataset is key.
- Results on a clean notebook.
- Explain which method(s) you used and why.
- If a method fails, explain why.

</div>

## Project: Weather station

<img alt="weather" src="https://github.com/VTNay/MEC557-Project/blob/main/images/map.png?raw=1" width=400>

- Suppose there are 5 weather stations that monitor the weather: Paris, Brest, London, Marseille and Berlin.
- The weather station in Paris breaks down
- Can we use the other stations to infer the weather in Paris

### Data set

<img alt="weather" src="https://github.com/VTNay/MEC557-Project/blob/main/images/annual_temperature.png?raw=1" width=400>

- Surface variables: skt, u10, v10, t2m, d2m, tcc, sp, tp, ssrd, blh
- Temporal resolution: hourly
- Spatial resolution: N/A

### First steps

- Look at the correlations between variables.
- What variable do I want to predict
- What time scale am interested in?
- Start with the easy predictions and move on to harder ones
- Are there events that are more predictable than others?

In [34]:
from pathlib import Path
import pandas as pd
import xarray as xr
from functools import reduce
from matplotlib import pyplot as plt
from sklearn import preprocessing

paris_path = Path('/content/drive/My Drive/PHY557_Project/weather/paris')
brest_path = Path('/content/drive/My Drive/PHY557_Project/weather/brest')
london_path = Path('/content/drive/My Drive/PHY557_Project/weather/london')
marseille_path = Path('/content/drive/My Drive/PHY557_Project/weather/marseille')
berlin_path = Path('/content/drive/My Drive/PHY557_Project/weather/berlin')

file_path = {'t2m': 't2m.nc', 'blh': 'blh.nc', 'd2m': 'd2m.nc', 'skt': 'skt.nc', 'sp': 'sp.nc', 'ssrd': 'ssrd.nc', 'tcc': 'tcc.nc', 'tp': 'tp.nc', 'u10': 'u10.nc', 'v10': 'v10.nc'}
City_path = {'Paris': paris_path, 'Brest': brest_path, 'London': london_path, 'Marseille': marseille_path, 'Berlin': berlin_path}

Weather_stations = {'Paris': [], 'Brest': [], 'London': [], 'Marseille': [], 'Berlin': []}
for i in Weather_stations:
  Weather_stations[i] = {'t2m': [], 'blh': [], 'd2m': [], 'skt': [], 'sp': [], 'ssrd': [], 'tcc': [], 'tp': [], 'u10': [], 'v10': []}

for city in Weather_stations:
  for i in Weather_stations[city]:
    temp = xr.open_dataset(Path(City_path[city], file_path[i]))
    temp = temp.to_dataframe()
    if i == 'd2m' or i == 'blh':
      temp = temp.droplevel([1,2])
    else:
      temp = temp.droplevel([0,1])
    Weather_stations[city][i] = temp
  #merge them into 1 dataframe
  Weather_stations[city] = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='outer'), Weather_stations[city].values())
Weather_stations

{'Paris':                             t2m        blh         d2m         skt  \
 time
 1980-01-01 00:00:00  273.624573        NaN  272.332703  271.886169
 1980-01-01 01:00:00  273.590820        NaN  272.302704  271.277069
 1980-01-01 02:00:00  273.077484        NaN  272.056641  271.015686
 1980-01-01 03:00:00  272.647949        NaN  271.807556  270.778687
 1980-01-01 04:00:00  272.320129        NaN  271.532471  269.853119
 ...                         ...        ...         ...         ...
 2021-01-01 02:00:00         NaN  67.381950         NaN         NaN
 2021-01-01 03:00:00         NaN  55.931046         NaN         NaN
 2021-01-01 04:00:00         NaN  42.157402         NaN         NaN
 2021-01-01 05:00:00         NaN  37.912605         NaN         NaN
 2021-01-01 06:00:00         NaN  35.246353         NaN         NaN

                                 sp  ssrd       tcc            tp       u10  \
 time
 1980-01-01 00:00:00  100071.015625   NaN  1.000000           NaN  1.821228
 1980-01-01 01:00:00  100026.843750   NaN  0.986572           NaN  1.522354
 1980-01-01 02:00:00   99995.453125   NaN  1.000000           NaN  1.478912
 1980-01-01 03:00:00   99981.320312   NaN  0.989990           NaN  1.310043
 1980-01-01 04:00:00   99924.750000   NaN  0.916901           NaN  1.426117
 ...                            ...   ...       ...           ...       ...
 2021-01-01 02:00:00            NaN   0.0       NaN  4.768372e-07       NaN
 2021-01-01 03:00:00            NaN   0.0       NaN  4.768372e-07       NaN
 2021-01-01 04:00:00            NaN   0.0       NaN  0.000000e+00       NaN
 2021-01-01 05:00:00            NaN   0.0       NaN  0.000000e+00       NaN
 2021-01-01 06:00:00            NaN   0.0       NaN  0.000000e+00       NaN

                           v10
 time
 1980-01-01 00:00:00  0.593918
 1980-01-01 01:00:00  0.792664
 1980-01-01 02:00:00  0.811569
 1980-01-01 03:00:00  0.710587
 1980-01-01 04:00:00  0.915924
 ...                       ...
 2021-01-01 02:00:00       NaN
 2021-01-01 03:00:00       NaN
 2021-01-01 04:00:00       NaN
 2021-01-01 05:00:00       NaN
 2021-01-01 06:00:00       NaN

 [359431 rows x 10 columns],
 'Brest':                             t2m         blh         d2m         skt  \
 time
 1980-01-01 00:00:00  278.646057         NaN  276.399109  279.384216
 1980-01-01 01:00:00  278.666992         NaN  276.273407  279.357147
 1980-01-01 02:00:00  278.604828         NaN  276.296875  279.341858
 1980-01-01 03:00:00  278.364746         NaN  276.332947  279.268921
 1980-01-01 04:00:00  278.103333         NaN  276.337158  279.163666
 ...                         ...         ...         ...         ...
 2020-01-01 02:00:00         NaN  297.524200         NaN         NaN
 2020-01-01 03:00:00         NaN  329.395233         NaN         NaN
 2020-01-01 04:00:00         NaN  344.560791         NaN         NaN
 2020-01-01 05:00:00         NaN  347.834473         NaN         NaN
 2020-01-01 06:00:00         NaN  315.073761         NaN         NaN

                                 sp  ssrd       tcc        tp       u10  \
 time
 1980-01-01 00:00:00  100551.015625   NaN  1.000000       NaN -3.045959
 1980-01-01 01:00:00  100445.843750   NaN  1.000000       NaN -3.187607
 1980-01-01 02:00:00  100470.453125   NaN  0.998413       NaN -2.846283
 1980-01-01 03:00:00  100415.320312   NaN  1.000000       NaN -3.439957
 1980-01-01 04:00:00  100423.750000   NaN  1.000000       NaN -3.067047
 ...                            ...   ...       ...       ...       ...
 2020-01-01 02:00:00            NaN   0.0       NaN  0.000000       NaN
 2020-01-01 03:00:00            NaN   0.0       NaN  0.000003       NaN
 2020-01-01 04:00:00            NaN   0.0       NaN  0.000011       NaN
 2020-01-01 05:00:00            NaN   0.0       NaN  0.000011       NaN
 2020-01-01 06:00:00            NaN   0.0       NaN  0.000009       NaN

                           v10
 time
 1980-01-01 00:00:00  3.326340
 1980-01-01 01:00:00  3.314148
 1980-01-01 02:00:00  2.434616
 1980-01-01 03:00:00  1.930313
 1980-01-01 04:00:00  1.885651
 ...                       ...
 2020-01-01 02:00:00       NaN
 2020-01-01 03:00:00       NaN
 2020-01-01 04:00:00       NaN
 2020-01-01 05:00:00       NaN
 2020-01-01 06:00:00       NaN

 [350647 rows x 10 columns],
 'London':                             t2m         blh         d2m         skt  \
 time
 1980-01-01 00:00:00  271.648010         NaN  270.848328  270.567810
 1980-01-01 01:00:00  271.235352         NaN  270.578094  270.226288
 1980-01-01 02:00:00  270.897797         NaN  270.341797  270.074280
 1980-01-01 03:00:00  270.847168         NaN  270.205994  269.962280
 1980-01-01 04:00:00  270.771301         NaN  270.110596  269.985931
 ...                         ...         ...         ...         ...
 2020-01-01 02:00:00         NaN  364.649200         NaN         NaN
 2020-01-01 03:00:00         NaN  284.895233         NaN         NaN
 2020-01-01 04:00:00         NaN  288.185791         NaN         NaN
 2020-01-01 05:00:00         NaN  309.584473         NaN         NaN
 2020-01-01 06:00:00         NaN  224.698761         NaN         NaN

                                 sp  ssrd       tcc        tp       u10  \
 time
 1980-01-01 00:00:00  100375.015625   NaN  0.632019       NaN  2.265564
 1980-01-01 01:00:00  100341.843750   NaN  0.918030       NaN  1.991104
 1980-01-01 02:00:00  100334.453125   NaN  0.970001       NaN  1.819733
 1980-01-01 03:00:00  100338.320312   NaN  0.950012       NaN  1.627426
 1980-01-01 04:00:00  100308.750000   NaN  0.961792       NaN  1.632172
 ...                            ...   ...       ...       ...       ...
 2020-01-01 02:00:00            NaN   0.0       NaN  0.000004       NaN
 2020-01-01 03:00:00            NaN   0.0       NaN  0.000004       NaN
 2020-01-01 04:00:00            NaN   0.0       NaN  0.000002       NaN
 2020-01-01 05:00:00            NaN   0.0       NaN  0.000019       NaN
 2020-01-01 06:00:00            NaN   0.0       NaN  0.000005       NaN

                           v10
 time
 1980-01-01 00:00:00 -0.946121
 1980-01-01 01:00:00 -0.942688
 1980-01-01 02:00:00 -0.987259
 1980-01-01 03:00:00 -1.352890
 1980-01-01 04:00:00 -1.340912
 ...                       ...
 2020-01-01 02:00:00       NaN
 2020-01-01 03:00:00       NaN
 2020-01-01 04:00:00       NaN
 2020-01-01 05:00:00       NaN
 2020-01-01 06:00:00       NaN

 [350647 rows x 10 columns],
 'Marseille':                             t2m         blh         d2m         skt  \
 time
 1980-01-01 00:00:00  277.665588         NaN  272.750671  281.397888
 1980-01-01 01:00:00  277.295898         NaN  272.845673  281.204803
 1980-01-01 02:00:00  276.938812         NaN  272.896484  281.058655
 1980-01-01 03:00:00  276.673340         NaN  273.045837  281.038452
 1980-01-01 04:00:00  276.605286         NaN  272.882080  280.952728
 ...                         ...         ...         ...         ...
 2020-01-01 02:00:00         NaN  167.024200         NaN         NaN
 2020-01-01 03:00:00         NaN  159.145233         NaN         NaN
 2020-01-01 04:00:00         NaN  124.435791         NaN         NaN
 2020-01-01 05:00:00         NaN   94.334480         NaN         NaN
 2020-01-01 06:00:00         NaN   80.448761         NaN         NaN

                                sp  ssrd       tcc   tp       u10       v10
 time
 1980-01-01 00:00:00  99870.015625   NaN  0.000000  NaN  5.789978 -6.853348
 1980-01-01 01:00:00  99838.843750   NaN  0.015198  NaN  5.271378 -5.964172
 1980-01-01 02:00:00  99780.453125   NaN  0.470245  NaN  5.464264 -5.353470
 1980-01-01 03:00:00  99753.320312   NaN  0.999359  NaN  5.081528 -5.418320
 1980-01-01 04:00:00  99628.750000   NaN  1.000000  NaN  4.479828 -5.298920
 ...                           ...   ...       ...  ...       ...       ...
 2020-01-01 02:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 03:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 04:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 05:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 06:00:00           NaN   0.0       NaN  0.0       NaN       NaN

 [350647 rows x 10 columns],
 'Berlin':                             t2m         blh         d2m         skt  \
 time
 1980-01-01 00:00:00  274.347229         NaN  273.488953  272.974060
 1980-01-01 01:00:00  274.262695         NaN  273.310516  272.786835
 1980-01-01 02:00:00  273.993500         NaN  273.041016  272.630920
 1980-01-01 03:00:00  273.997559         NaN  273.000916  272.440796
 1980-01-01 04:00:00  273.986145         NaN  273.063721  272.105072
 ...                         ...         ...         ...         ...
 2020-01-01 02:00:00         NaN  285.274200         NaN         NaN
 2020-01-01 03:00:00         NaN  229.020233         NaN         NaN
 2020-01-01 04:00:00         NaN  198.435791         NaN         NaN
 2020-01-01 05:00:00         NaN  208.959473         NaN         NaN
 2020-01-01 06:00:00         NaN  221.448761         NaN         NaN

                                sp  ssrd       tcc   tp       u10       v10
 time
 1980-01-01 00:00:00  99357.015625   NaN  0.916779  NaN  2.986267  0.781418
 1980-01-01 01:00:00  99308.843750   NaN  0.863159  NaN  2.856339  0.796570
 1980-01-01 02:00:00  99365.453125   NaN  0.863678  NaN  2.803131  0.714890
 1980-01-01 03:00:00  99363.320312   NaN  0.792236  NaN  2.814926  0.733047
 1980-01-01 04:00:00  99315.750000   NaN  0.832306  NaN  2.795258  0.756744
 ...                           ...   ...       ...  ...       ...       ...
 2020-01-01 02:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 03:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 04:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 05:00:00           NaN   0.0       NaN  0.0       NaN       NaN
 2020-01-01 06:00:00           NaN   0.0       NaN  0.0       NaN       NaN

 [350647 rows x 10 columns]}

In [35]:
Berlin = pd.DataFrame(Weather_stations['Berlin'])
Brest =  pd.DataFrame(Weather_stations['Brest'])
London = pd.DataFrame(Weather_stations['London'])
Paris = pd.DataFrame(Weather_stations['Paris'])
Marseille = pd.DataFrame(Weather_stations['Marseille'])

In [42]:
Paris = Paris[Paris.index < '2020-01-01 07:00:00']
Paris

,t2m,blh,d2m,skt,sp,ssrd,tcc,tp,u10,v10
time,,,,,,,,,,
1980-01-01 00:00:00,273.624573,NaN,272.332703,271.886169,100071.015625,NaN,1.000000,NaN,1.821228,0.593918
1980-01-01 01:00:00,273.590820,NaN,272.302704,271.277069,100026.843750,NaN,0.986572,NaN,1.522354,0.792664
1980-01-01 02:00:00,273.077484,NaN,272.056641,271.015686,99995.453125,NaN,1.000000,NaN,1.478912,0.811569
1980-01-01 03:00:00,272.647949,NaN,271.807556,270.778687,99981.320312,NaN,0.989990,NaN,1.310043,0.710587
1980-01-01 04:00:00,272.320129,NaN,271.532471,269.853119,99924.750000,NaN,0.916901,NaN,1.426117,0.915924
...,...,...,...,...,...,...,...,...,...,...
2020-01-01 02:00:00,273.403381,56.836708,273.301880,273.251343,101831.046875,0.0,1.000000,0.000017,-0.432419,1.644012
2020-01-01 03:00:00,273.530762,61.645226,273.487396,273.334076,101812.593750,0.0,1.000000,0.000014,0.383301,1.820221
2020-01-01 04:00:00,273.733459,68.935791,273.716492,273.837219,101798.617188,0.0,1.000000,0.000006,0.362213,1.744476
2020-01-01 05:00:00,273.822266,71.584480,273.817688,274.067139,101793.812500,0.0,1.000000,0.000007,-0.269577,1.662979
2020-01-01 06:00:00,274.026733,77.823761,274.024353,274.768433,101805.203125,0.0,1.000000,0.000022,-0.533554,1.903946

***
## Credit

[//]: # "This notebook is part of [E4C Interdisciplinary Center - Education](https://gitlab.in2p3.fr/energy4climate/public/education)."
Contributors include Bruno Deremble and Alexis Tantet.
Several slides and images are taken from the very good [Scikit-learn course](https://inria.github.io/scikit-learn-mooc/).

<br>

<div style="display: flex; height: 70px">
    
<img alt="Logo LMD" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_lmd.jpg?raw=1" style="display: inline-block"/>

<img alt="Logo IPSL" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_ipsl.png?raw=1" style="display: inline-block"/>

<img alt="Logo E4C" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_e4c_final.png?raw=1" style="display: inline-block"/>

<img alt="Logo EP" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_ep.png?raw=1" style="display: inline-block"/>

<img alt="Logo SU" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_su.png?raw=1" style="display: inline-block"/>

<img alt="Logo ENS" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_ens.jpg?raw=1" style="display: inline-block"/>

<img alt="Logo CNRS" src="https://github.com/VTNay/MEC557-Project/blob/main/images/logos/logo_cnrs.png?raw=1" style="display: inline-block"/>
    
</div>

<hr>

<div style="display: flex">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0; margin-right: 10px" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
    <br>This work is licensed under a &nbsp; <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>